.from {
  display: flex;
  justify-content: center;
  align-items: center;
}
.from div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.from div input {
  margin: 5px;
}
