.search-container {
  background-color: rgba(0, 0, 0, 0.521);
  text-align: center;
}
.search-container input {
  width: 75%;
  padding: 5px;
  margin: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;

  margin-right: 20px;
}
#full-container {
  position: relative;
}
.products-container {
  margin-left: 140px;
  margin-right: 10px;
  border-right: 1px solid gray;
}
